<!-- CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Entire bundle -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
<!-- legacy bundle for older browsers (IE11) -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.legacy.js"></script>
<!-- Draggable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.js"></script>
<!-- Sortable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/sortable.js"></script>
<!-- Droppable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/droppable.js"></script>
<!-- Swappable only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/swappable.js"></script>
<!-- Plugins only -->
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/plugins.js"></script>

<!-- CDN -->
<br /> <br />
<div class="row">
  <%= link_to('Sign out', destroy_user_session_path(current_user), class: 'waves-effect waves-light btn red col s1 offset-s11') %>
</div>
<div class="container align-center">
  <div class="row">
    <h3>My-Todo</h3>
    <%= form_tag({ action: 'create' }, class: 'col s12') do %>
    <div class="row">
      <div class="input-field col s2 offset-s3">
	<input placeholder="til ?.." id="task_deadline" name="deadline" type="text" class="datepicker" />
	<label for="todo_deadline">Deadline</label>
      </div>
      <div class="input-field col s4">
	<textarea placeholder="Read One Piece on this friday." id="todo_desc" type="text" class="materialize-textarea" name="description" required="true"></textarea>
	<label for="todo_desc">TODO desc</label>
      </div>
      <div class="row">
	<button class="btn waves-effect waves-light col s12" type="submit" name="action">Create
	  <i class="material-icons right"></i>
	</button>
      </div>
      <% end %>
    </div>

    <div class="row">
      <label class="col s2 offset-s2">
	<input onclick="toogleShowAll(this);" type="checkbox" />
	<span>Show all</span>
      </label>
    </div>
    <div class="row">
      <table class="highlight col s8 offset-s2">
	<thead>
	  <tr>
	    <th></th>
	    <th>Deadline</th>
	    <th>TODO</th>
	    <th>status </th>
	  </tr>
	</thead>
	<tbody>
	  <% @tasks.each do |task| %>
	  <tr class='task_<%= task.status %>'>
	    <td></td>
	    <td> <%= task.deadline&.strftime('%Y-%m-%d')    %></td>
	    <td> <%= task.description %></td>
	    <td>
	      <div class="switch">
		Mark as DONE
		<label>
		  <input <%= task.done? ? 'checked' : '' %> type="checkbox" data-taskid="<%= task.id %>" data-status="<%= task.status %>" onclick="updateStatus(this);">
		  <span class="lever"></span>
		</label>
	      </div>
	    </td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
  $('.datepicker').datepicker();
  hideDoneTasks();
  });

  function hideDoneTasks(){
    $('.task_done').hide();
  }

  function showDoneTasks(){
  $('.task_done').hide();
  }

function updateStatus(selector){
  let obj = $(selector);
  let targetStatus;
  if(obj.data().status == 'done') {
    targetStatus = '';
  } else {
    targetStatus = 'done';
  }
  obj.data('status', targetStatus);
  $.ajax({
    type: "POST", 
    url: "top/update_status",
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    data: { id: obj.data().taskid, status: targetStatus },
    success: function(data, textStatus, jqXHR){ },
    error: function(jqXHR, textStatus, errorThrown){ }
  })
}

function toogleShowAll(obj){
  let toogle = $(obj);
  console.log(toogle.val());
  if(toogle.val() == 'on') {
    $('.task_done').show();
    toogle.val('off');
  } else {
    $('.task_done').hide();
    toogle.val('on');
  }
}
</script>
